@import  "mixin";
@import "dashboard";
@import "products";
@import  "chart";
@import "apps";
@import "mediaqueries";
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
.red{
color: red;

}
.green{
    color: rgb(0,195,0);
}
.purple{
    color: rgb(55, 45, 99);
}
// body{
    
// }
#hamberg{

background-color: #fff;
color: rgb(13, 105, 242);
cursor: pointer;
outline: none;
border: none;
display: grid;
@include sequere(3rem);
border-radius: 50px;
position: fixed;
top: 0.5rem;
    left: 0.5rem;
place-items: center;
font-size: large;
font-weight:bold;
z-index: 9;


        }
.adminContainer {
    @include grid(1fr 4fr, 2rem);
    height: 100vh;
    background-color: rgb(247, 247, 247);

    > aside {
        width: 100% ;
        background-color: white;
        padding: 1rem; 
        z-index: 10;  
        overflow-y: auto;

        &::-webkit-scrollbar {
            display:none;
        }

        >   div {
            margin: 2rem 1rem;
                 
            >h5 {
                @include heading(2px);
                opacity: 0.8;
                margin: 1rem 0;
            }

            >ul {
                @include flex(column, unset, unset, 0.5rem);
                list-style: none;

                >li {
                    padding: 0.5rem 1rem;
                    border-radius: 10px;

                    a {
                        color: rgba(0, 0, 0, 0.825);
                        @include flex(row, unset);
                    }
                }
            }
        }
    }
}
aside{
width: 100%;
  > div{
    
    >h5{
        @include flex(column,unset,center,0);
    }
   > ul{
          @include flex(column , center,center,5px);
    }

  }
  >button{
    background-color:rgb(152, 37, 37);
    border: none;
    width: 100%;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
  }
}


                .table {
                    border-collapse: collapse;
                    width: 100%;
        
                    th,
                    td {
                        padding: 8px;
                        text-align: left;
                        vertical-align: middle;
                    }
        
                    th {
                        font-weight: bold;
                        color: #0000009e;
                        font-size: 1.1rem;
                        font-weight: 400;
                        padding: 2rem 1rem;
                    }
        
                    tbody {
                        tr {
                            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
                        }
        
                        td {
                            padding: 1rem;
        
                            img {
                                width: 4rem;
                                height: 4rem;
                                object-fit: contain;
                                border-radius: 10px;
                            }
        
                            a {
                                text-decoration: none;
                                background-color: rgba(44, 104, 255, 0.455);
                                color: rgba(44, 104, 255);
                                padding: 0.25rem 0.5rem;
                                border-radius: 10px;
                            }
        
                            button {
                                width: 2rem;
                                height: 2rem;
                                font-size: 1.1rem;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                cursor: pointer;
                                color: rgb(255, 44, 44);
        
                                &:hover {
                                    opacity: 0.6;
                                }
                            }
        
                            &:first-child {
                                border-left: none;
                            }
        
                            &:last-child {
                                border-right: none;
                            }
                        }
                    }
                }
                .pagination{
                    @include flex(row , center,center,2rem);
                    > button{
                        background-color: rgba(0, 115, 255);
                            color: white;
                            padding: 1rem 2rem;
                            font-size: large;
                            font-weight: bold;
                            border-radius: 10px;
                            outline: none;
                            border: none;
                            cursor: pointer;


                            &:disabled{
                                background-color: rgba(0, 115, 255,0.4);
                                cursor: not-allowed;
                            }
                            
                    }
                   ;
                }
